streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma

chromadb==0.4.24
protobuf==4.25.3

pandas
python-dotenv

pypdf
docx2txt
openpyxl
beautifulsoup4

sentence-transformers
huggingface-hub

tiktoken